
<div class="login-container">
  <form action="#" [formGroup]="form" (ngSubmit)]>

    <label for="login-image" class="login-label">Iniciar Sesión</label>
    <img src="assets/logo.png" alt="Login Image" class="login-image">
    <div class="login-form">
      <input id="correo" type="email" formGroupName = "email" placeholder="Correo Electrónico" required>
      <input id="contra" type="password" formGroupName = "password" placeholder="Contraseña" required>
      <button type="submit">Entrar</button>
      <button>Iniciar sesión con Google</button>

    </div>

  </form>
    
</div>
  