<div class="book-list-container">
    <h2>Lista de Libros</h2>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                    <button (click)="editBook(book.id)">Editar</button>
                    <button (click)="deleteBook(book.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>